.skills-info-card{

    min-height: 23rem;
    border-radius: 0.65rem;
    border: 1.5px solid #BE3144;
    background: rgba(22, 17, 47, 0.398);
    backdrop-filter: blur(1rem);

}

.skills-info-card h6{
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    background: linear-gradient(180deg, #872341 0%, #F05941 10%);
    background-clip: text;
    -webkit-background-clip : text;
    -webkit-text-fill-color : transparent;
    border-bottom: 1.5px solid #BE3144 ;
    text-align: center;

}

.skills-info-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-info p{
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
    background: linear-gradient(to right, #BE3144, #F05941  );
    width: 200px;
    height: 30px;
    text-align: center;
    
}

@media (max-width:1025px) {

    .skills-info-card h6{
        font-size: 1.1rem;
    }

    .skill-info p{
        font-size: 0.9rem;
    }

    .skills-info-content{
        padding: 1.5rem;
    }
    
}

